<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page Two</ion-title>
    <ion-buttons end>
    <button (click)="logout()" color="light" ion-button icon-left >
      <ion-icon name="contact"></ion-icon>
  Logout
</button>
</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab center bottom>
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary"><ion-icon name="logo-vimeo"></ion-icon></button>
       <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
       <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
       <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
